<!-- channel: Channel -->
<div class="thumbnail thumbnail-channel border" style="display: inline-block; text-align: left; width: 100%; vertical-align: top">
  <div style="display: inline-block; text-align: center; width: 100%; position: relative">
    <a title="ぺからいぶで開く" href="http://peca.live/<%= h channel.channel_info.channel %>">
      <img src="<%= h channel.ss_path %>?<%= Time.now.to_i %>" style="width: 100%">
    </a>
  </div>

  <div class="caption p-2">
    <p style="position: relative">
      <a href="/profile/<%= channel.user.id %>"><img width="48" src="<%= channel.user.image_bigger %>" alt="<%= channel.user.name %>" class="img-rounded" style="display: inline; margin-right: 5px"></a>
      <a href="/profile/<%= channel.user.id %>">
        <b>
          <%= h channel.channel_info.channel %>
        </b>
      </a>

      <small style="position: absolute; right: 0px; text-align: left">
        ⏲️<!-- timer clock -->
        <%= h (uptime_fmt(channel.status['uptime']) rescue "?") %>
      </small>
    </p>

    <p><%= h channel.channel_info.summary %></p>

    <p>
      <span style="margin-right: 20px">
        👤<!-- bust in silhouette -->
        <%= h (channel.listener_count_display rescue "?") %>
      </span>
      <span style="margin-right: 20px">
        📙<!-- orange book -->
        <%= slim :yellow_page_links, locals: { yp_names: [channel.channel_info.yp] } %>
      </span>
      <span style="margin-right: 20px">
        <a title="ぺからいぶで開く" href="http://peca.live/<%= h channel.channel_info.channel %>">▶&#xfe0f;<!-- play button --></a>
      </span>
    </p>
  </div>
</div>
