<!-- channel: Channel -->
<div class="thumbnail thumbnail-channel" style="display: inline-block">
  <div style="display: inline-block; text-align: center; width: 100%; position: relative">
    <a href="/channels/<%= h channel.id %>/play" class="thumbnail-channel-play-button">
      <img src="/programs/<%= h channel.channel_info.id %>/screen_shot">
      <span class="glyphicon glyphicon-play"></span>
    </a>

  </div>

  <div class="caption">
    <p style="position: relative">
      <a href="/profile/<%= channel.user.id %>">
	<b>
	  <img width="28" src="<%= channel.user.image %>" alt="<%= channel.user.name %>" class="img-rounded" style="margin-right: 5px">
	  <%= h channel.channel_info.channel %>
	</b>
      </a>

      <small style="position: absolute; right: 0px; text-align: left">
	<span class="glyphicon glyphicon-time"></span>
	<%= h IndexTxt.uptime_fmt(channel.status['uptime']) %>
      </small>
    </p>

    <p><%= h channel.channel_info.summary %></p>

    <p>
      <span style="margin-right: 20px">
	<span class="glyphicon glyphicon-user"></span>
	<%= h channel.listener_count_display %>
      </span>
      <span style="margin-right: 20px">
	<span class="glyphicon glyphicon-book"></span>
	<%= slim :yellow_page_links, locals: { yp_names: channel.info['yellowPages'].map { |y| y['name'] } } %>
      </span>
    </p>
  </div>
</div>
