<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway とは</title>
    <%= erb :common_head %>
  </head>
  <body>

    <%= erb :navbar %>

    <div class=container>
      <div class="page-header">
        <h1>Peercast Gateway とは</h1>
      </div>

      <h2><%= jp_words "ネット環境のせいで Peercast で配信できない？" %></h1>
      <p>
        Peercast Gateway を使えば、外部からポートにアクセスさせられないネット接続環境でも、Peercast に配信を行うことができます。
      </p>

      <h2><%= jp_words "対応している動画フォーマットとエンコーダー" %></h2>
      <p>
        <a href="/doc/how-to-obs">Open Broadcaster Software</a> などが扱える Flash Video 形式と、<a href="/doc/how-to-wme">Windows Media エンコーダ</a>が対応している Windows Media Video 形式に対応しています。
      </p>

    </div>

    <%= erb :footer %>

  </body>
</html>
