<p style="color: red"><%= h @message %></p>

<form action="/broadcast" method="POST" role="form">

  <div class="form-group">
    <label for="channel">チャンネル名</label>
    <input class="form-control" type="text" name="channel" required
           value="<%= h params['channel'] %>">
  </div>

  <div class="form-group">
    <label for="genre">ジャンル</label>
    <input class="form-control" type="text" name="genre"
           value="<%= h params['genre'] %>">
  </div>

  <div class="form-group">
    <label for="desc">詳細</label>
    <input class="form-control" type="text" name="desc"
           value="<%= h params['desc'] %>">
  </div>

  <div class="form-group">
    <label for="comment">コメント</label>
    <input class="form-control" type="text" name="comment"
           value="<%= h params['comment'] %>">
  </div>

  <div class="form-group">
    <label for="url">コンタクト&thinsp;URL</label>
    <input class="form-control" name="url" type="url" value="<%= h params['url'] %>">
  </div>

  <div class="form-group">
    <label for="type">ストリームタイプ</label>
    <div class="radio">
      <label title="Flash Video (Open Broadcaster Software などはこちら)"><input type="radio" name="type" value="FLV" required <%= params['type'] == 'FLV' ? 'checked' : '' %>> FLV</label>
    </div>
    <div class="radio">
      <label title="Windows Media Video (Windows Media Encoder や Expression Encoder はこちら)"><input type="radio" name="type" value="WMV" <%= params['type'] == 'WMV' ? 'checked' : '' %>> WMV</label>
    </div>
  </div>

  <div class="form-group">
    <label for="yp">掲載YP</label>
    <% @yellow_pages.each do |yp| %>
      <div class="radio">
        <label>
          <input required type="radio" name="yp" value="<%= yp.yellowPageId %>"
                 <%= params['yp'].to_i == yp.yellowPageId ? "checked" : "" %>>
          <%= h yp.name %>
        </label>
      </div>
    <% end %>
  </div>

  <button type="submit" class="btn btn-primary">開始</button>
</form>
