<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway &mdash; ホーム</title>
    <%= erb :common_head %>
  </head>

  <body>

    <%= erb :navbar %>

    <div class=container>
      <% if NO_NEW_CHANNEL %>
        <p class="text-danger">メンテナンス中のため、現在チャンネルの作成はできません。</p>
      <% end %>


      <h1><img width="48" src="<%= @user.image %>" alt="<%= @user.name %>" class="img-rounded"> <%= @user.name %></h1>
      <% if @channels.any? %>
      <table class="table">
        <tr><th>チャンネル名</th><th>アクション</th></tr>
        <% @channels.each do |ch| %>
        <tr>
          <td><%= ch.info['info']['name'] %></td>
          <td>
            <a href="/channels/<%= ch.id %>" class="btn btn-primary btn-xs" style="display: inline-block">状態</a>
            <a href="/channels/<%= ch.id %>/play" class="btn btn-default btn-xs" style="display: inline-block">再生</a>
            <form action="/channels/<%= ch.id %>/stop" method="POST" role="form" style="display: inline-block">
              <button class="btn btn-warning btn-xs">停止</button>
            </form>
          </td>
        </tr>
        <% end %>
      </table>
      <form action="/stopall" method="POST" role="form">
        <% @channels.each do |ch| %>
        <input type=hidden name="channel_ids[]" value="<%= ch.id %>">
        <% end %>
        <button class="btn btn-warning">全て停止する</button>
      </form>
      <% else %>
      <p>配信中ではありません。</p>
      <p>
        <a href="/create" class="btn btn-primary"><img src="/images/megaphone.png" width="32"> 配信する</a>
        <a href="/doc/how-to-obs" class="btn btn-default" style="margin-left: 1em; ">手順 OBS編 &raquo;</a>
        <a href="/doc/how-to-wme" class="btn btn-default" style="margin-left: 1em; ">手順 WME編 &raquo;</a>
      </p>
      <% end %>

      <%= slim :recent_programs, {}, recent_programs: recent_programs %>
    </div>

    <%= erb :footer %>
  </body>
</html>
