<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway &mdash; チャンネル &mdash; <%= @info['info']['name'] %></title>
    <%= erb :common_head %>
  </head>

  <body>

    <%= erb :navbar %>

    <div class=container>

      <h1>
        <%= @info['info']['name'] %>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= h @link_url %>" data-text="<%= @data_text %>" data-lang="ja" data-size="large" data-count="none" data-hashtags="PeercastGateway">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <div class="btn-group" style="vertical-align: -0.07em;">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            更新の間隔 <span id="refresh-interval"></span>秒
            <span style="margin-left: 0.5em" class="caret"></span>
            <span class="sr-only">ドロップダウンをトグルします</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" onclick="changeInterval(1)">1秒</a></li>
            <li><a href="#" onclick="changeInterval(5)">5秒</a></li>
            <li><a href="#" onclick="changeInterval(10)">10秒</a></li>
          </ul>
        </div>
      </h1>

      <p style="color: red" id=error></p>

      <table class="table head-keep">
        <tr>
          <th>メディア&thinsp;URL</th>
          <td class="text-info"><span class="url" id="source"><%= h @status['source'] %></span></td>
        </tr>
        <tr>
          <th>状態</th>
          <td><span id="status"></span></td>
        </tr>
        <tr>
          <th>リレー時間</th>
          <td><span id="uptime"></span>秒</td>
        </tr>
        <tr>
          <th>ビットレート</th>
          <td><span id=bitrate></span>Kbps</td>
        </tr>
        <tr>
          <th>リスナー/リレー</th>
          <td><span id=direct></span> / <span id="relay"></span></td>
        </tr>
        <tr>
          <th>直下接続</th>
          <td><div id=connections></div></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><span id=genre></span></td>
        </tr>
        <tr>
          <th>詳細</th>
          <td><span id=desc></span></td>
        </tr>
        <tr>
          <th>コメント</th>
          <td><span id=comment></span></td>
        </tr>
        <tr>
          <th>コンタクト&thinsp;URL</th>
          <td><a id=contact></a></td>
        </tr>
        <tr>
          <th>掲載YP</th>
          <td><%= yellow_page_links(@info['yellowPages']) %></td>
        </tr>
      </table>

      <div>
        <form action="/channels/<%= @channel.id %>/stop" method="POST" role="form">
          <button type=submit class="btn btn-warning">配信停止</button>
          <a href="/channels/<%= @channel.id %>/edit" class="btn btn-default">詳細変更</a>          <a href="/channels/<%= @channel.id %>/play" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-new-window"></span> 再生</a>

        </form>
      </div>

    </div>

    <script>
      var g_interval;
      function changeInterval(int) {
        g_interval = int;
        $("#refresh-interval").text(int);
      }
      $(function() {
        changeInterval(1);
        $.getScript('/channels/<%= @channel.id %>/update');
        var recur = function() {
          $.getScript('/channels/<%= @channel.id %>/update');
          setTimeout(recur, g_interval * 1000);
        };
        setTimeout(recur, g_interval * 1000);
      });
    </script>

  </body>
</html>
