<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway</title>
    <%= erb :common_head %>
  </head>
  <body>

    <%= erb :navbar %>

    <div class=container>
      <% if NO_NEW_CHANNEL %>
        <p class="text-danger">メンテナンス中のため、現在チャンネルの作成はできません。</p>
      <% end %>

      <% unless  @user %>
        <%= erb :jumbotron %>
      <% end %>

      <%= erb :onair %>

      <%= slim :recent_programs, locals: { recent_programs: recent_programs } %>

      <a class="btn btn-default" href="/programs">もっと見る</a>

    </div>
    <%= erb :footer %>

  </body>
</html>
