<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway</title>
    <%= erb :common_head %>
  </head>
  <body>

    <%= erb :navbar %>

    <div class=container>
      <% if NO_NEW_CHANNEL %>
        <p class="text-danger">メンテナンス中のため、現在チャンネルの作成はできません。</p>
      <% end %>

      <% unless  @user %>
        <%= erb :jumbotron %>
      <% end %>

      <%= erb :onair %>

      <h2>稼働状況</h2>
      <p>推定使用帯域 <%= network_usage.total_kbps %>Kbps は基準使用帯域 <%= network_usage.baseline_kbps %>Kbps の <span style="font-size: 150%" class="<%= usage_rate_semantic_class(network_usage.rate) %>"><%= (network_usage.rate * 100).round %></span>% です。</p>

      <%= slim :recent_programs, locals: { recent_programs: recent_programs } %>

      <a class="btn btn-default" href="/programs">もっと見る&thinsp;&raquo;</a>

    </div>
    <%= erb :footer %>

  </body>
</html>
