<% content_for :title do %><%= h @content_user.name %><% end %>

<table class=table>
  <tr>
    <th>ID</th>
    <td><%= h @content_user.id %></td>
  </tr>

  <tr>
    <th>名前</th>
    <td><%= h @content_user.name %></td>
  </tr>

  <tr>
    <th>Twitter ID</th>
    <td>
      <a href="https://twitter.com/intent/user?user_id=<%= h @content_user.twitter_id %>">
        <%= h @content_user.twitter_id %>
      </a>
    </td>
  </tr>

  <tr>
    <th>画像URL</th>
    <td>
      <%= h @content_user.image %>
    </td>
  </tr>

  <tr>
    <th>管理者</th>
    <td><%= h (@content_user.admin ? 'YES' : 'NO') %></td>
  </tr>

  <tr>
    <th>一時停止中</th>
    <td><%= h (@content_user.suspended ? 'YES' : 'NO') %></td>
  </tr>
</table>

<div>
  <a href="/users" class="btn btn-primary">戻る</a>

  <a href="/users/<%= h @content_user.id %>/edit" class="btn btn-secondary">編集</a>
  <a title="プロフィール画像のリンク切れを直します" href="/users/<%= h @content_user.id %>/update" class="btn btn-secondary">Twitterから更新</a>

  <form action="/users/<%= h @content_user.id %>" method="POST" style="display: inline">
    <input hidden name="_method" value="DELETE">
    <button class="btn btn-danger" style="float: right">削除</button>
  </form>
</div>
