<!doctype html>
<html lang=ja>
  <head>
    <title>Peercast Gateway</title>
    <%= erb :common_head %>
  </head>
  <body>

    <%= erb :navbar %>

    <div class=container>
      <%= erb :jumbotron %>

      <%= erb :onair %>

    </div>
    <%= erb :footer %>

  </body>
</html>
